.Navbar {
  background-color: rgb(247, 247, 247);
  margin-bottom: 20px;
  padding: 15px 0;
}
.d-f {
  display: flex;
}
.loc {
  background-color: rgb(0, 171, 73);
  color: white !important;
  border-radius: 20px;
}
.nav {
  color: rgb(190, 45, 43) !important;
}
.nav:hover {
  color: rgb(173, 167, 167) !important;
}
.uz {
  color: black !important;
}
.ru {
  color: black !important;
}
.uzru {
  margin-left: auto;
  display: flex;
}
.header {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.logo {
  height: 85px;
  margin-right: 40px;
}
.number {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
  margin: 0 10px;
}
.number1 {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(190, 45, 43);
  color: #fff;
  display: flex;
  width: 70px;
  height: 55px;
  border-radius: 30px;
  padding: 12px 10px 25px 15px;
  margin-left: 25px;
  margin-top: 5px;
  text-decoration: none;
}
.dnone {
  text-decoration: none;
}
.nav-number1 {
  background-color: #fff;
  color: rgb(190, 45, 43);
  text-decoration: none;
}
.number1 img {
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
.number1 p {
  margin-left: 5px;
  margin-bottom: 20px !important;
}
.text {
  width: 250px;
  font-size: 20px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
}
.text1 {
  width: 150px !important;
  font-size: 20px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 30px;
}
.img {
  width: 30px;
  height: 30px;
}
.nav2 {
  color: #fff !important;
  background-color: rgb(190, 45, 43);
  font-weight: 500;
  padding: 20px 25px !important;
  transition: 0.5s ease all !important;
}
.nav2:hover {
  color: rgb(190, 45, 43) !important;
  background-color: #fff;
  border-radius: 15px;
}
.navlink {
  background-color: rgb(190, 45, 43);
  border-radius: 20px;
  margin-top: 20px;
  transition: 1s ease;
}
.navlink-fixed {
  background-color: rgb(190, 45, 43);
  padding: 0 100px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999999;
  transition: 1s ease;
}
.navlinks {
  justify-content: space-between !important;
}
.none {
  display: none;
  transition: 1s ease;
}
.nav-img {
  text-decoration: none;
}
.nav-img img {
  width: 50px;
  height: 50px;
}
.carusel {
  background-color: rgb(247, 247, 247);
  padding-top: 50px;
}
.pizza {
  background-color: rgb(247, 247, 247);
  text-align: center;
  justify-content: center !important;
}
.pizzas {
  text-align: left;
  margin: 15px 0;
}
.pizzas .Card {
  border: none;
  border-radius: 20px;
  padding: 15px;
}
.Card:hover {
  transform: scale(1.1);
  transition: 1s ease;
}
.pizzadesc {
  color: rgb(128, 128, 128);
  height: 80px;
}
.btn1 {
  background-color: rgb(37, 192, 37) !important;
  background-image: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.314) 1.5%, transparent 1%), radial-gradient(circle at 80% 70%, rgba(255, 255, 255, 0.314) 1.5%, transparent 1%), radial-gradient(circle at 30% 50%, rgba(255, 255, 255, 0.314) 1%, transparent 1%), radial-gradient(circle at 70% 85%, rgba(255, 255, 255, 0.314) 1%, transparent 1%);
  border-radius: 55px !important;
}
.btn1 img {
  margin-right: 5px;
  margin-bottom: 5px;
}
.none {
  display: none;
}
.shop-list {
  display: flex;
  background-color: white;
}
.shop-img {
  width: 150px;
  height: 150px;
}
.shop-nomi {
  margin-top: 35px;
}
.shop-narxi {
  margin-left: 15px;
}
.soni {
  display: flex;
  margin-top: 35px;
  margin-left: auto !important;
}
.soni1 {
  display: flex;
  margin-top: 5px;
  margin-left: auto !important;
}
.soni button, .soni1 button {
  height: 30px;
  width: 50px;
  margin: 0 15px;
  border: none;
  border-radius: 20px;
  background-color: rgb(69, 223, 69);
}
.shop {
  background-color: rgb(247, 247, 247);
}
.promo {
  background-color: white;
  padding: 10px;
  margin: 15px 0;
  border-radius: 20px;
  display: flex;
}
.promo-input {
  width: 125px !important;
  margin-right: 15px !important;
  background-color: rgb(247, 247, 247);
}
.buy {
  background-color: white;
  min-height: 2   80px;
  margin: 15px 0 15px 0 !important;
  border-radius: 20px;
  min-height: 400px;
}
.buy-btn {
  border-radius: 40px !important;
}
.total {
  background-color: white;
  padding: 10px;
  margin: 15px 0;
  border-radius: 20px;
}
#sous {
  padding-bottom: 90px;
}
.bold {
  font-weight: bold;
}
.fixed {
  position: fixed !important;
}
.sticky {
  font-size: 15px;
  color: #000000;
  border: 1px solid black;
  position: fixed;
  height: 50px;
  width: 100%;
  transition: all 0.4s ease;
}
.bottom-menu {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: white;
}
.bottom-menu span a {
  width: 10% !important;
  align-items: center;
  text-align: center;
  color: black;
}
.bottom-menu span a.nav-link {
  padding: 0;
  margin: 0 9px;
  text-decoration: none;
}
.bottom-menu span a img {
  width: 45px;
}
.bottom-link {
  width: 200% !important;
}
.navigation {
  position: fixed !important;
  top: 0;
  z-index: 100000;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
}
.logo-mobile {
  margin-left: 1rem;
  width: 60%;
  height: 8%;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  background-color: white;
}
.hamburger img {
  background-color: white;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    width: 80%;
    height: calc(100vh - 77px);
    background-color: white;
  }
  .navigation-menu li {
    text-align: left;
    margin: 0 0 0 20px;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 30px;
  }
  .navigation-menu li a svg {
    margin-right: 15px;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu.expanded ul {
    display: block;
    z-index: 100000;
  }
}
.sale {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.nav-btn {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 40px;
}
.download {
  display: flex;
  position: absolute;
  bottom: 0;
}
.download a img {
  width: 140px;
  height: 50px;
  margin-right: 10px;
}
.nav-number {
  position: relative;
  display: flex;
  color: black;
  padding: 10px 15px 0 0;
  margin-right: 80px;
}
.nav-number svg {
  width: 30px;
  height: 30px;
}
.nav-number p {
  position: absolute;
  color: white;
  background-color: #25C025;
  font-size: 15px;
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
}
.bottom-cart {
  position: fixed;
  bottom: -100px;
  right: 20px;
  display: flex;
  color: black;
  padding: 10px 15px 0 0;
  margin-bottom: 200px;
  transition: 0.5s ease all;
}
.bottom-cart svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  background-color: red;
  color: white;
}
.bottom-cart p {
  position: absolute;
  color: white;
  background-color: #25C025;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 0;
}
.none {
  display: none;
}
.top-cart {
  width: 100%;
  display: flex;
}
.top-cart svg {
  width: 50px;
  height: 50px;
  margin: 15px;
  color: black;
}
.top-cart h1 {
  margin: 20px;
  font-size: 30px;
}